<!DOCTYPE html>
<html>
<head>
    <title>Game Entry</title>
    <link rel="stylesheet" href="/styles/gameEntry.css">
</head>
<body>
    <div class="container">
        <!-- First Column: Game Instructions -->
        <div class="column">
            <h1>Game Instructions</h1>
            <p>1. Step one</p>
            <p>2. Step two</p>
            <p>3. Step three</p>
        </div>

        <!-- Second Column: Play Button -->
        <div class="column">
            <!-- <button class="button-play" onclick="window.location.href='/callback';">Play</button> -->
            <button class="button-play" id='play-button''>Play</button>
        </div>
    </div>
    <script>
        // Attach click handler to Play button
        document.getElementById('play-button').onclick = () => {
          // Send token to the nextScene page
          const accessToken = "<%= token %>"; // Access token from session
          window.location.href = `/nextScene?token=${encodeURIComponent(accessToken)}`;
        };
      </script>

</body>
</html>
