<!DOCTYPE html>
<html>
<head>
    <title>Amazon Cognito Authentication Example</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="container">
        <!-- First Column -->
        <div class="column">
            <img src="/images/logo.png" alt="Logo">
        </div>
        <!-- Second Column -->
        <div class="column">
            <h1>About Choko</h1>
            <p>Choko is a cute Shih Tzu, it plays in shadows, beaches</p>
        </div>
        <!-- Third Column -->
        <div class="column">
            <button class="button-watch" onclick="window.location.href='https://www.youtube.com';">Watch Trailer</button>
            <button class="button-signin" onclick="window.location.href='/login';">Sign In</button>
        </div>
    </div>
</body>
</html>
