<!DOCTYPE html>
<html>
<head>
    <title>Amazon Cognito Authentication Example</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="container">
        <!-- First Column - Logo -->
        <div class="column">
            <img src="/images/croppedlogo.png" alt="Logo">
        </div>
        <!-- Merged Second and Third Column -->
        <div class="column">
            <p>Step into a world where imagination knows no bounds—reshape destinies, rewrite narratives, and explore limitless realms, from enchanting fantasy worlds to vibrant real-life settings. Every choice you make sparks a new adventure, offering endless possibilities and unique paths to uncover!</p>
            <div class="button-container">
                <div class="button-column">
                    <button class="button-watch" onclick="window.location.href='https://www.youtube.com';">Trailor</button>
                </div>
                <div class="button-column">
                    <button class="button-signin" onclick="window.location.href='/login';">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
