/* public/styles/gameEntry.css */

body {
    margin: 0;
    background-image: url('../images/background.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0); /* Light overlay for readability */
    border-radius: 10px;
    overflow: hidden;
}

.column {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.column h1 {
    margin-bottom: 20px;
}

.column p {
    font-size: 18px;
}

.button-play {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button-play:hover {
    background-color: #218838;
}
