/* styles/style.css */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-column {
    flex: 1;
    padding: 0 10px;
}

.button-watch, .button-signin {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-watch {
    background-color: #4CAF50;
    color: white;
}

.button-signin {
    background-color: #2196F3;
    color: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/castle.png'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(245, 240, 240);
}

/* Add a dark overlay */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity (0.5 for semi-transparent black) */
    z-index: 1; /* Ensure this overlay is below the content */
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0); /* Transparent container */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    min-width: 500px;
}

.column .button-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px !important;
    width: 400px !important;
    margin: 0 auto !important;
    flex-wrap: nowrap !important;
}

/* newfate2*/
.column img {
    width: auto;
    max-height: 90%;
    border-radius: 15px;
}

/* fates-rerolled
.column img {
    width: 100%;
    max-height: auto;
    border-radius: 15px;
} */

.column h1 {
    margin-bottom: 20px;
}

.column p {
    font-size: 25px;
    margin-bottom: 20px;
}

.column button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    width: 160px !important;
    flex-shrink: 0 !important;
}

.button-watch {
    background-color: #e021bd;
    color: rgb(11, 11, 11);
}

.button-signin {
    background-color: #e021bd;
    color: rgb(18, 17, 17);
}

.button-watch:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    filter: brightness(110%);
    background-color: red;
}

.button-signin:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    filter: brightness(110%);
    background-color: rgb(0, 128, 255);
}

